*.tmp
./bin/*

./ipc2/bindunix
./ipc2/sendmsg
./ipc2/open/openclient
./ipc2/open.fe/openclient
./ipc2/opend/opend.select
./ipc2/opend/opend.poll
./ipc2/pollmsg
./ipc2/opend.fe/opend
./stdio/mkstemp
./stdio/tempfiles
./stdio/memstr
./stdio/getcharbug
./stdio/fgetsfputs
./stdio/getcputc
./stdio/buf
./intro/uidgid
./intro/ls1
./intro/hello
./intro/getcputc
./intro/testerror
./intro/shell1
./intro/shell2
./intro/mycat
./systype.sh
./advio/rot13c2
./advio/deadlock
./advio/mandatory
./advio/mcopy2
./advio/nonblockw
./advio/fixup.awk
./advio/rot13a
./exercises/vfork3
./exercises/prtime
./exercises/getlogin
./exercises/sizepipe
./exercises/zombie
./exercises/longpath
./exercises/fifo1
./exercises/pendlock
./exercises/goodexit
./exercises/bo
./exercises/getpwsvr4
./termios/t_isatty
./termios/winch
./termios/csize
./termios/t_raw
./termios/settty
./termios/t_getpass
./termios/t_ttyname
./datafiles/strftime
./environ/echoarg
./environ/getrlimit
./environ/doatexit
./environ/hello1
./environ/testjmp
./sockets/findsvc
./sockets/ruptime
./sockets/ruptimed
./sockets/ruptimed-fd
./sockets/ruptime-dg
./sockets/ruptimed-dg
./ipc1/pipe4
./ipc1/pipe1
./ipc1/tshm
./ipc1/popen2
./ipc1/myuclc
./ipc1/pipe2
./ipc1/devzero
./ipc1/add2stdio
./ipc1/add2
./ipc1/popen1
./printer/print
./printer/printd
./apue/.git/hooks/prepare-commit-msg.sample
./apue/.git/hooks/post-update.sample
./apue/.git/hooks/update.sample
./apue/.git/hooks/commit-msg.sample
./apue/.git/hooks/fsmonitor-watchman.sample
./apue/.git/hooks/push-to-checkout.sample
./apue/.git/hooks/pre-receive.sample
./apue/.git/hooks/pre-applypatch.sample
./apue/.git/hooks/pre-merge-commit.sample
./apue/.git/hooks/pre-push.sample
./apue/.git/hooks/pre-commit.sample
./apue/.git/hooks/applypatch-msg.sample
./apue/.git/hooks/pre-rebase.sample
./pty/pty
./find_exe.sh
./filedir/ftw8
./filedir/mycd
./filedir/filetype
./filedir/umask
./filedir/access
./filedir/devrdev
./filedir/cdpwd
./filedir/zap
./filedir/changemod
./filedir/unlink
./threadctl/suspend
./threadctl/atfork
./fileio/fileflags
./fileio/seek
./fileio/hole
./fileio/mycat
./relation/orphan3
./standards/options
./standards/conf
./standards/makeconf.awk
./standards/makeopt.awk
./db/t4
./db/libapue_db.so.1
./threads/badexit2
./threads/barrier
./threads/cleanup
./threads/threadid
./threads/exitstatus
./threads/timedlock
./proc/nice
./proc/tellwait1
./proc/systest1
./proc/fork2
./proc/systest3
./proc/vfork1
./proc/times1
./proc/fork1
./proc/wait1
./proc/tellwait2
./proc/awkexample
./proc/exec2
./proc/echoall
./proc/pracct
./proc/pruids
./proc/exec1
./proc/test1
./signals/sigusr
./signals/mask
./signals/tsleep2
./signals/reenter
./signals/suspend2
./signals/suspend1
./signals/systest2
./signals/read2
./signals/child
./signals/read1
./signals/critical
./signals/sigtstp

advio/deadlock
advio/lockfile.o
advio/mandatory
advio/mcopy2
advio/nonblockw
advio/rot13a
advio/rot13c2
advio/xlate
daemons/init.o
daemons/reread.o
daemons/reread2.o
daemons/single.o
datafiles/getpwnam.o
datafiles/strftime
db/db.o
db/libapue_db.a
db/libapue_db.so
db/libapue_db.so.1
db/t4
db/t4.o
environ/doatexit
environ/echoarg
environ/getrlimit
environ/hello1
environ/opendata.o
environ/scope.o
environ/testjmp
exercises/asyncsocket.o
exercises/bo
exercises/fifo1
exercises/getlogin
exercises/getpwsvr4
exercises/goodexit
exercises/longpath
exercises/openmax.o
exercises/pendlock
exercises/prtime
exercises/sizepipe
exercises/sleep.o
exercises/sleepus_poll.o
exercises/sleepus_select.o
exercises/vfork3
exercises/zombie
filedir/access
filedir/cdpwd
filedir/changemod
filedir/devrdev
filedir/filetype
filedir/ftw8
filedir/mycd
filedir/umask
filedir/unlink
filedir/zap
fileio/fileflags
fileio/hole
fileio/mycat
fileio/seek
fileio/setfl.o
intro/getcputc
intro/hello
intro/ls1
intro/mycat
intro/shell1
intro/shell2
intro/testerror
intro/uidgid
ipc1/add2
ipc1/add2stdio
ipc1/devzero
ipc1/myuclc
ipc1/pipe1
ipc1/pipe2
ipc1/pipe4
ipc1/popen.o
ipc1/popen1
ipc1/popen2
ipc1/slock.o
ipc1/tellwait.o
ipc1/tshm
ipc2/bindunix
ipc2/open.fe/main.o
ipc2/open.fe/open.o
ipc2/open.fe/openclient
ipc2/open/main.o
ipc2/open/open.o
ipc2/open/openclient
ipc2/opend.fe/cliargs.o
ipc2/opend.fe/main.o
ipc2/opend.fe/opend
ipc2/opend.fe/request.o
ipc2/opend/cliargs.o
ipc2/opend/client.o
ipc2/opend/loop.poll.o
ipc2/opend/loop.select.o
ipc2/opend/main.o
ipc2/opend/opend.poll
ipc2/opend/opend.select
ipc2/opend/request.o
ipc2/pollmsg
ipc2/recvfd2.o
ipc2/sendfd2.o
ipc2/sendmsg
lib/bufargs.o
lib/cliconn.o
lib/clrfl.o
lib/daemonize.o
lib/error.o
lib/errorlog.o
lib/libapue.a
lib/lockreg.o
lib/locktest.o
lib/openmax.o
lib/pathalloc.o
lib/popen.o
lib/prexit.o
lib/prmask.o
lib/ptyfork.o
lib/ptyopen.o
lib/readn.o
lib/recvfd.o
lib/senderr.o
lib/sendfd.o
lib/servaccept.o
lib/servlisten.o
lib/setfd.o
lib/setfl.o
lib/signal.o
lib/signalintr.o
lib/sleep.o
lib/sleepus.o
lib/spipe.o
lib/tellwait.o
lib/ttymodes.o
lib/writen.o
printer/print
printer/print.o
printer/printd
printer/printd.o
printer/util.o
proc/echoall
proc/exec1
proc/exec2
proc/fork1
proc/fork2
proc/nice
proc/pracct
proc/pruids
proc/system.o
proc/systest1
proc/systest1.o
proc/systest3
proc/systest3.o
proc/tellwait1
proc/tellwait2
proc/test1
proc/times1
proc/vfork1
proc/wait1
pty/driver.o
pty/loop.o
pty/main.o
pty/pty
relation/orphan3
signals/abort.o
signals/child
signals/critical
signals/mask
signals/read1
signals/read2
signals/reenter
signals/sigtstp
signals/sigusr
signals/sleep1.o
signals/sleep2.o
signals/suspend1
signals/suspend2
signals/system.o
signals/systest2
signals/systest2.o
signals/tsleep2
signals/tsleep2.o
sockets/clconn.o
sockets/clconn2.o
sockets/findsvc
sockets/initsrv1.o
sockets/initsrv2.o
sockets/ruptime
sockets/ruptime-dg
sockets/ruptime.o
sockets/ruptimed
sockets/ruptimed-dg
sockets/ruptimed-dg.o
sockets/ruptimed-fd
sockets/ruptimed-fd.o
sockets/ruptimed.o
standards/conf
standards/options
standards/pathconf.sym
standards/pathopt.sym
standards/sysconf.sym
standards/sysopt.sym
stdio/buf
stdio/fgetsfputs
stdio/getcharbug
stdio/getcputc
stdio/memstr
stdio/mkstemp
stdio/tempfiles
termios/csize
termios/ctermid.o
termios/getpass.o
termios/isatty.o
termios/settty
termios/t_getpass
termios/t_isatty
termios/t_raw
termios/t_ttyname
termios/ttyname.o
termios/winch
threadctl/atfork
threadctl/detach.o
threadctl/getenv1.o
threadctl/getenv2.o
threadctl/getenv3.o
threadctl/suspend
threadctl/timeout.o
threads/badexit2
threads/barrier
threads/cleanup
threads/condvar.o
threads/exitstatus
threads/maketimeout.o
threads/mutex1.o
threads/mutex2.o
threads/mutex3.o
threads/rwlock.o
threads/threadid
threads/timedlock
proc/testinterp
bin/exec1
